/* ---------- LOGIN ---------- */

.login-container {
  max-width: 400px;
  margin: 100px auto;
}

.login-container .form-control {
  width: 100%;
}

.login-btn {
  width: 100%;
  margin-top: 10px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-message {
  margin-top: 15px;
  color: #b00020;
  text-align: center;
}

.login-logo {
  max-width: 400px;
  margin: 60px auto -60px auto;
  text-align: center;
}

